<!DOCTYPE html>
<html lang="en">
<head>
	<title>BORG: About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="/"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/tumblr"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/constitution"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/aboutus"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
	</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">	
		<div class="btn-group" role="group">
			<a href ="/bookreviews"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/events"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/forum"><button type="button" class="btn btn-primary fancy">BORG Forums</button></a>
		</div>
		<!-- Admin Options only appears when the user is an admin-->
		<% if login? && session[:user_admin] == true %>
			<div class="btn-group" role="group">
				<a href ="/adminpage"><button type="button" class="btn btn-danger fancy">Admin Options</button></a>
			</div>
		<% end %>
	</div>
	<br>
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>

<!--Contact Information For The Club-->
<div class="container">
	<div class="column fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%">Club Administrators</div></h3>
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<table class="table">
				<tr>
					<td class = "tablehead"><h4 class="label label-info fancybutton" style="font-size: 100%">Role</h4></td>
					<td class = "tablehead"><h4 class="label label-info fancybutton" style="font-size: 100%">Name</h4></td>
					<td class = "tablehead"><h4 class="label label-info fancybutton" style="font-size: 100%">Email Address</h4></td>
				</tr>
				<tr>
					<td><h4 class="label label-default fancybutton" style="font-size: 100%">Queen (President)</h4></td>
					<td>Rebecca Holman</td>
					<td>rholman@brandeis.edu</td>
				</tr>
				<tr>
					<td><h4 class="label label-default fancybutton" style="font-size: 100%">King of Pentacles (Treasurer)</h4></td>
					<td>Martin Silberberg</td>
					<td>silbmaerto@aol.com</td>
				</tr>
				<tr>
					<td><h4 class="label label-default fancybutton" style="font-size: 100%">Scribe Herald (Secretary)</h4></td>
					<td>Sam Miller</td>
					<td>sayares@brandeis.edu</td>
				</tr>
				<tr>
					<td><h4 class="label label-default fancybutton" style="font-size: 100%">Librarian</h4></td>
					<td>Rubi Finch and Meredith Combs</td>
					<td>lfettig@brandeis.edu and mcombs17@brandeis.edu</td>
				</tr>
				<tr>
					<td><h4 class="label label-default fancybutton" style="font-size: 100%">Arachne (Webmaster)</h4></td>
					<td>Piera Licht</td>
					<td>pewlicht@brandeis.edu</td>
				</tr>
				<tr>
					<td><h4 class="label label-default fancybutton" style="font-size: 100%">Bastion of Righteousness</h4></td>
					<td>Piera Licht</td>
					<td>pewlicht@brandeis.edu<</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<br>

<!--General info about BORG-->
<div class="container">
	<div class="column fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%">What Is BORG?</div></h3>
		<br>
		<p>The Brandeis Official Readers' Guild (or BORG) is the on-campus club in charge of maintaining the BORG library, 
		a collection of science fiction and fantasy novels. We meet every Wednesday at 7 in the Castle Commons, to play games 
		that have something or nothing to do with science fiction and fantasy. Our library is located in the SCC, on the second floor.</p>
		<p>BORG also puts on several larger events over the course of the year. In the fall, BORG puts on its Time Traveller's Ball/Not-A-Dance Dance. Or maybe it's something about communists, I don't know. 
		In the spring, BORG puts on its annual play. Other events are always in the works, so keep an eye out on the website and elsewhere for these other exciting events.
		We welcome you to stop by anytime to our meetings to enjoy good company and good books.</p>
		<p>Other things. Uhhhh....according to an old constitution apparently our club was called NEOBORG at one point and the Librarian was the Guru of Scrolls. Why we stopped using those awesome names is beyond me.
		Now the constitution says the Librarian is the Chief Cook, but I have noticed a significant lack of food from the Librarian during the past few years.</p>
		<!--Listerv Subscription Link-->
		<p>Information about our weekly meetings, including last-minute changes, is sent out through our listserv. 
		Announcements regarding important BORG events are also sent out through the listserv.</p>
		<div class="center">
			<a href="https://lists.brandeis.edu/wws/info/borg">
			<button type="submit" class="btn btn-danger fancybutton">Subscribe to our Listserv</button>
			</a>
		</div>
		<br>
	</div>
</div>
<br>
	

<!--Contact Information For The Website Creator-->
<div class="bottomcredit">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>