<!DOCTYPE html>
<html lang="en">
<head>
	<title>BORG: Book Reviews</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="homepage.html"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="http://borglings.tumblr.com"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="constitution.html"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="aboutus.html"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="bookreviews.html"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="events.html"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
	</div>
	<br>
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>

<!--Book Reviews-->
<div class="container">
	<div class="col-md-1 fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%;">Book Reviews</div></h3>
		<br>
		<div class="panel panel-danger">
			<div class="panel-body">
				<div style="font-size: 155%;" class="label label-default fancybutton">Dream Park (Example)</div>
				<img align="right" src="http://img1.fantasticfiction.co.uk/images/n1/n6608.jpg" height="140px" width="140px" alt="Dream Park" class="img-circle">
				<br>
				<hr>
				<p><h4 class="label label-info fancybutton tinybutton">Review Date</h4> 07/14/2015</p>
				<p>A group of pretend adventurers suit up for a campaign called "The South Seas Treasure Game." 
				As in the early Role Playing Games, there are Dungeon Masters, warriors, magicians, and thieves. 
				The difference? At Dream Park, a futuristic fantasy theme park full of holographic attractions and the latest in VR technology, 
				they play in an artificial enclosure...</p>
				<!--Expanded Text Box Button-->
				<button type="button" class="btn btn-primary fancybutton" data-toggle="modal" data-target="#expandedReview">
					More...
				</button>
			</div>
		</div>
	</div>
</div>
<br>
	
<!--Expanded Text Box. Code based off of Bootstrap's Javascript Tutorial-->
<div class="modal fade" id="expandedReview" role="dialog" aria-labelledby="expandedReviewLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content fancy">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title label label-default fancybutton" id="expandedReviewLabel">Dream Park (Example)</h4>
			</div>
			<div class="modal-body">
				<p><h4 class="label label-info fancybutton tinybutton">Author(s)</h4> Larry Niven and Steven Barnes</p>
				<p><h4 class="label label-info fancybutton tinybutton">Review Date</h4> 07/14/2015</p>
				<p><h4 class="label label-info fancybutton tinybutton">Publication Date</h4>1982</p>
				<p>A group of pretend adventurers suit up for a campaign called "The South Seas Treasure Game." 
				As in the early Role Playing Games, there are Dungeon Masters, warriors, magicians, and thieves. 
				The difference? At Dream Park, a futuristic fantasy theme park full of holographic attractions and the latest in VR technology, 
				they play in an artificial enclosure that has been enhanced with special effects, holograms, actors, and a clever storyline. 
				The players get as close as possible to truly living their adventure.
				All's fun and games until a Park security guard is murdered, a valuable research property is stolen, and all evidence points to someone inside the game. 
				The park's head of security, Alex Griffin, joins the game to find the killer, but finds new meaning in the games he helps keep alive.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
				
<!--Contact Information For The Website Creator-->
<div class="bottomcredit">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>