<!DOCTYPE html>
<html lang="en">
<head>
	<title>BORG Constitution</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="homepage.html"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="http://borglings.tumblr.com"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="constitution.html"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="aboutus.html"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="bookreviews.html"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="events.html"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
	</div>
	<br>
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>

<!--Constitution Text-->
<div class="container">
	<div class="col-md-1 fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%">BORG Constitution</div></h3>
		<br>
		<div class="label label-primary fancybutton" style="font-size: 100%">A Chartered Club at Brandeis University</div>
		<hr>
		<div class="label label-info fancybutton" style="font-size: 90%">Purpose</div>
		<p><br>
			The Brandeis Official Readers' Guild (BORG) is dedicated to:
			<ol>
				<li>Maintaining and expanding a library of books and related printed materials of various fiction genres
				as well as related non-fiction works, with an emphasis on science fiction and fantasy literature.</li>
				<li>Providing a forum for the discussion and enjoyment of such works.</li>
				<li>Holding various events designed to promote interest in and enjoyment of these works, 
				including but not limited to TV/movie viewings, plays and other performances, and diverse sorts of games, while maintaining a focus on the written word.</li>
				<li>Creating an environment in which people can relax and enjoy books.</li>
			</ol> 
		</p><br>
		<div class="label label-info fancybutton" style="font-size: 90%">Officers</div>
		<p><br>
			BORG has 6 officer positions, collectively known as the High Council:
			<ol>
				<li>President- In charge of running BORG meetings and High Council meetings.</li>
				<li>King of Pentacles- a.k.a. Treasurer.  Responsible for all paper work and financial information that must be done by the club.</li>
				<li>Scribe/Herald- a.k.a. Secretary/Publicity Officer. Responsible for sending out meeting reminders to the club e-mail list, 
				as well as recording the events of each meeting and posting a humorous summary to the mailing list.  Also responsible for various other records-keeping activities and publicizing major events.</li>
				<li>Chief Cook and Librarian- a.k.a. Librarian.  In charge of library maintenance and upkeep, as well as recommending new books for the library.</li>
				<li>Arachne- a.k.a. Webmaster/mistress.  Responsible for maintaining and updating the website. </li>
				<li>Bastion of Righteousness- a.k.a. Junior Librarian.  Responsible for assisting the Librarian, particularly in "reminding" people to return overdue books.  </li>
			</ol> 
		</p>
		<p>
			In addition to their primary responsibilities, all officers are expected to:
			<ol>
				<li>Attend meetings regularly.</li>
				<li>Help organize and run meetings and events.</li>
				<li>Participate in the decision-making process.</li>
			</ol> 
		</p>
			In any situation where a High Council vote is called for, and the vote is split 3-3, the issue shall be resolved by a majority vote of BORG members attending the next meeting.  
			Members must be notified of the issue (via e-mail list) at least 3 days prior to the meeting, where it shall be discussed before being voted upon.
		</p>
		<p>
			Elections, except for the one for Bastion, will be held in the first meeting in April.  Newly elected officers will work with the current High Council.  
			Each duly elected Council member shall serve for a term of one year.  To run for a Council position, a person must have attended at least four previous BORG meetings or events, 
			except freshman candidates for Bastion, who must have attended at least two meetings or events. 
		</p>
		<p>
			The position of Bastion is ideally reserved for a freshman; as such, it will not participate in normal April elections.  Rather, elections will be held during the fourth meeting of the new school year.  
			If no freshman wishes to run, the position will be opened to others.
		</p><br>
		<div class="label label-info fancybutton" style="font-size: 90%">Members</div>
		<p><br>
			The only prerogatives exclusive to members shall be to vote in officer elections, Council vote tiebreakers, general member votes, and the amendment process.  
			Use of the library and participation in all BORG events shall be open to all members of the Brandeis Community.  
			To vote as a BORG member, an individual must be a student of Brandeis University and have attended at least two previous BORG meetings or events.  
			Graduating seniors or others who will not be at Brandeis the coming semester may not vote in April officer elections
		</p><br>
		<div class="label label-info fancybutton" style="font-size: 90%">Meetings</div>
		<p><br>
			Meetings shall be held weekly, unless co-opted by another BORG event.  Meetings shall generally be held in the BORG Library, but may be held elsewhere.  
		</p><br>
		<div class="label label-info fancybutton" style="font-size: 90%">Library</div>
		<p><br>
			As stated above, the use of the BORG library shall be open to all members of the Brandeis community.  Any member of the community may make recommendations of books to be added to the library, 
			but the High Council shall make the final decision on all purchases.
		</p><br>
		<div class="label label-info fancybutton" style="font-size: 90%">Constitution</div>
		<p><br>
			This constitution will be adopted by a simple majority vote of student attendees at the first meeting of BORG, which will be publicized and open to all members of the Brandeis community.
		</p>
		<p>
			The charter may be amended by a simple majority vote of BORG members attending a meeting, provided the amendment has been discussed at a previous meeting and that members were notified of 
			the proposed amendment by e-mail at least three days prior to the meeting where it is to be voted on
		</p>
		<p>
			BORG is open to all members of the Brandeis Community. BORG does not discriminate against members on the basis of sex, race, religion, species, sexual preference, class, age, nationality, 
			physical ability, or planet of origin.
		</p>
		<br>
	</div>
</div>
<br>

<!--Contact Information For The Website Creator-->
<div style="color: white; font-family: verdana; font-size: 90%;">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>