<!DOCTYPE html>
<html lang="en">
<head>
	<title>BORG: Upcoming Events</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="homepage.html"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="http://borglings.tumblr.com"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="constitution.html"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="aboutus.html"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="bookreviews.html"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="events.html"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
	</div>
	<br>
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>

<!--List of upcoming Events-->
<div class="container">
	<div class="col-md-1 fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%;">Upcoming Events</div></h3>
		<br>
		<div class="panel panel-danger">
			<div class="panel-body">
				<div style="font-size: 155%;" class="label label-default fancybutton">Activities Fair (Example)</div>
				<hr>
				<p><h4 class="label label-info fancybutton tinybutton">Date</h4> 08/30/2015</p>
				<p><h4 class="label label-info fancybutton tinybutton">Time</h4> 1PM - 3PM</p>
				<p><h4 class="label label-info fancybutton tinybutton">Location</h4> SCC Great Lawn</p>
				<p>There are many opportunities to be involved at Brandeis! 
				Check out some of the student organizations that can help you find your home!</p>
			</div>
		</div>
		<div class="panel panel-danger">
			<div class="panel-body">
				<div style="font-size: 155%;" class="label label-default fancybutton">Club Connections Conference (Example)</div>
				<hr>
				<p><h4 class="label label-info fancybutton tinybutton">Date</h4> 08/31/2015</p>
				<p><h4 class="label label-info fancybutton tinybutton">Time</h4> TBD</p>
				<p><h4 class="label label-info fancybutton tinybutton">Location</h4> Hassenfeld Conference Center</p>
				<p>Join the Department of Student Activities, the Intercultural Center, Student Union, Conference and Events, 
				and Hillel to learn everything you need to know about event planning at Brandeis. Make sure your club is represented at this annual event.</p>
			</div>
		</div>
	</div>
</div>

<br>			
<!--Contact Information For The Website Creator-->
<div style="color: white; font-family: verdana; font-size: 90%;">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>