<!DOCTYPE html>
<html lang="en">
<head>
	<title>BORG: Forum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="/"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/tumblr"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/constitution"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/aboutus"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
	</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">	
		<div class="btn-group" role="group">
			<a href ="/bookreviews"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/events"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/forum"><button type="button" class="btn btn-primary fancy">BORG Forums</button></a>
		</div>
		<!-- Admin Options only appears when the user is an admin-->
		<% if login? && session[:user_admin] == true %>
			<div class="btn-group" role="group">
				<a href ="/adminpage"><button type="button" class="btn btn-danger fancy">Admin Options</button></a>
			</div>
		<% end %>
	</div>
	<br>
	
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
</div>


<!--A list of the latest 10 posts-->
<div class="container">
	<div class=" column fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 110%">BORG Forums</div></h3>
		<br>
		<% @topics.each do |topic| %>
			<div class="panel panel-danger listing">
				<div class="panel-body">
					<div style="font-size: 155%;" class="label label-default fancybutton"><%=topic.title%></div>
					<hr>
					<p><h4 class="label label-info fancybutton tinybutton">Number of Posts</h4> <%=topic.post_count%></p>
					<p><h4 class="label label-info fancybutton tinybutton">Last Post</h4> <%=TimeConverter.convert_time(topic.updated_at.in_time_zone("Eastern Time (US & Canada)"))%></p>
					<p><h4 class="label label-info fancybutton tinybutton">Created By</h4> <%=topic.name%></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<br>

<!--Contact Information For The Website Creator-->
<div class="bottomcredit">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>
