<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brandeis Official Readers' Guild (BORG)</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/borgsite.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="btn-group btn-group-justified" role="group" aria-label="topbar">
		<div class="btn-group" role="group">
			<a href ="/"><button type="button" class="btn btn-primary fancy">Home</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="http://borglings.tumblr.com"><button type="button" class="btn btn-primary fancy">Tumblr</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/constitution"><button type="button" class="btn btn-primary fancy">Constitution</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/aboutus"><button type="button" class="btn btn-primary fancy">About Us</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/bookreviews"><button type="button" class="btn btn-primary fancy">Book Reviews</button></a>
		</div>
		<div class="btn-group" role="group">
			<a href ="/events"><button type="button" class="btn btn-primary fancy">Events</button></a>
		</div>
	</div>
	<br>
	
	<div class="jumbotron center">
		<h1><div class="label label-danger fancytitle" style="font-size: 90%">BORG</div></h1>
		<br>
		<h2><div class="label label-danger fancytitle" style="font-size: 90%">Brandeis Official Readers' Guild</div></h2>
	</div>
	<div class="row">
		<!--About Us-->
		<div class="col-sm-4 fancy" 
		onmouseover="this.style.border='3px solid #CC6633';"
		onmouseout="this.style.border='2px solid #CC6633';">
			<h3><div class="label label-success fancybutton" style="font-size: 100%">About Us</div></h3>
			<br>
			<p>The Brandeis Official Readers' Guild (or BORG) is the on campus club in charge of maintaining the BORG library,
			a collection of science fiction and fantasy novels. We meet every Wednesday at 7 in the Castle Commons{are we changing it this year I DONT REMEMBER!!!}, to play games that have something or nothing
			to do with science fiction and fantasy. Our library is located in the SCC.</p>
			<a href="/aboutus">More...</a>
		</div>
		<!--Latest Book Review-->
		<div class="col-sm-4 fancy"
		onmouseover="this.style.border='3px solid #CC6633';"
		onmouseout="this.style.border='2px solid #CC6633';">
		  <h3><div class="label label-success fancybutton" style="font-size: 100%">Book Reviews</div></h3>
		  <br>
		  <h4>MIGHTY ALLIED FORCES LAND, SHATTER PATH INTO FRANCE</h4>
		  <p>06/06/1944</p>
		  <p>Yeah D-Day happened and it was awesome. We blew up some jerries and I killed fitty men. 
		  Even with no shins, I was out there taking nazee skulls. Did I mention that I killed fitty men?</p>
		  <a href="/bookreviews">More...</a>
		</div>
		<!--Upcoming Events-->
		<div class="col-sm-4 fancy"
		onmouseover="this.style.border='3px solid #CC6633';"
		onmouseout="this.style.border='2px solid #CC6633';">
		  <h3><div class="label label-success fancybutton" style="font-size: 100%">Events</div></h3>        
		  <br>
		  <div><h4 class="label label-info fancybutton tinybutton">Activities Fair (Example)</h4><br><b>08/30/2015</b></div>
		  <br>
		  <div><h4 class="label label-info fancybutton tinybutton">Club Connections Conference</h4><br><b>08/31/2015</b></div>
		  <br>
		  <a href="/events">More...</a>
		</div>
	</div>
</div>
<br>
<br>

<!--Code for the login box-->
<div class="container" style="opacity:1;">
	<div class="panel panel-danger">
		<div class="panel-heading"><div class="label label-success fancybutton">Login (Coming Soon)</div></div>
		<br>
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<!--Form code is based off of the bootstrap tutorial at http://getbootstrap.com/css/-->
					<label for="inputName" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="inputName" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPass" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
					  <input type="password" class="form-control" id="inputPass" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-danger fancybutton">Sign In</button>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">Don't Have An Account? <button class="btn btn-danger signup fancybutton">Sign Up</button></div>
	</div>
</div>

<!--A list of the latest 10 posts-->
<div class="container">
	<div class=" column fancy">
		<h3><div class="label label-success fancybutton" style="font-size: 100%">Posts (Coming Soon)</div></h3>
		<br>
	</div>
</div>
<br>

<!--Contact Information For The Website Creator-->
<div class="bottomcredit">Website created by Martin Silberberg. Contact me at silbmaerto@aol.com. Last Modified In 2015.</div>
</body>
</html>
